.button-container {
    margin: 46px 0 0 0;
}

.button-header {
    padding: 12px 25px;
}

.button {
    border: 1px solid var(--text-color);
    border-radius: 9px;
    color: var(--secondary-text);
    background: var(--base-color);
    cursor: pointer;
    box-shadow: 3px 4px var(--text-color);
    margin: 2px 20px 0 0;
}

.button:active {
    box-shadow: none;
    transform: translateY(4px);
    transition: box-shadow 0.10s ease, transform 0.10s ease;
}

.button:hover {
    color: var(--base-color);
    background: var(--secondary-text);
    border: 1px solid var(--base-color);
}

.button-unactive {
    box-shadow: none;
}

.navlink-config {
    text-decoration: none;
    color: var(--accent-color);
}

.navlink-config:hover {
    color: var(--accent-color);
}

.navlink-config:visited {
    color: var(--secondary-text);
}