.main-footer-container {
    border-top: 1px solid var(--text-color);
    margin: 20px 0 0 0;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.message-main-container {
    margin: 50px 30px 0 30px;
}

.title-container {
    text-align: left;
}

.title-name {
    font-size: 19px;
    font-family: 'Fraunces';
    font-weight: bold;
    font-style: italic;
}

.message-container {
    padding: 0 0 30px 0;
    font-size: 13px;
}

.message-paragraph {
    text-align: left;
    padding: 30px 0 0 0;
    font-size: 13px;
}


.paragraph {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-family: 'Fraunces';
    font-weight: bold;
    font-style: italic;
    color: var(--bg-icons);
}

.paragraph::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.paragraph:hover::after {
    transform: scaleX(1);
    height: 1px;
}

.links-main-container {
    margin: 0 20px 0 30px;
    border-top: 1px solid var(--base-color);
}

.second-title-container {
    margin: 30px 0 10px 0;
}

.title-footer {
    font-size: 16px;
    font-family: 'Fraunces';
    font-weight: bold;
    font-style: italic;
}

.links-container {
    padding: 0 0 10px 0;
}


.list-items {
    list-style: none;
}

.list-footer-item {
    padding: 5px 0;
}

.routes {
    font-size: 12px;
    color: var(--base-color);
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.routes:visited {
    color: var(--base-color);
}

.routes::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.routes:hover::after {
    transform: scaleX(1);
    height: 1px;
}

.icons-filled {
    display: none;
}

.routes:hover .icons-outlined {
    display: none;
}

.routes:hover .icons-filled {
    display: flex;
}

.contact-main-container {
    margin: 10px 30px 0 30px;
    border-top: 1px solid var(--base-color);
}

.contact-container {
    margin: 30px 0 0 0;
}

.list-contact-item {
    font-size: 12px;
    padding: 10px 0 0 0;
}

.icons-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.copyright-container {
    padding: 30px 0 30px 0;
}

.copyright-text {
    font-size: 11px;
}